
*/__pycache__/
.vscode

# model 
mask_recognition_model.pth

# data generator
Data Generator/data/with_black_mask
Data Generator/data/with_blue_mask
Data Generator/data/with_white_mask

# model generator
Model Generator/experiments